/* /client/src/components/DataTable.css */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #2c3e50; /* Azul oscuro */
    color: #ecf0f1; /* Texto blanco */
  }
  
  th, td {
    border: 1px solid #2c3e50; /* Borde azul oscuro */
    text-align: left;
    padding: 8px; /* Reduje el tamaño del padding para hacer más compacta la tabla */
    font-size: 14px; /* Tamaño de letra más pequeño */
  }
  
  tr:nth-child(even) {
    background-color: #34495e; /* Gris oscuro para filas pares */
  }
  
  tr:nth-child(odd) {
    background-color: #2c3e50; /* Azul oscuro para filas impares */
  }
  
  button {
    margin-top: 10px;
    padding: 10px; /* Reduje el tamaño del padding para hacer más compacto el botón */
    background-color: #3498db; /* Azul */
    color: #ecf0f1; /* Texto blanco */
    border: none;
    cursor: pointer;
    font-size: 14px; /* Tamaño de letra más pequeño */
  }
/* /client/src/components/tabla.css */
.table-container {
    text-align: center; /* Alinea el contenido al centro, puedes ajustar según sea necesario */
  }
  
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-image {
    margin-right: 20px; /* Ajusta según sea necesario para el espaciado deseado */
  }

.btn1 {
  margin: 10px;
}

.distance-form-container {
  max-width: 300px;
  margin: auto;
}
  